<h1>{{title}}</h1>
<p>{{description}}</p>

<table>
  {{#each serie.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{outlet}}
